<!DOCTYPE html>
<html ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material CSS  -->
    <link rel="stylesheet" href="components/angular-material/angular-material.min.css">

    <title>SocialD</title>

    <!-- Styles -->
    <link href="assets/styles/app.css" rel="stylesheet">
    <link href="assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="assets/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="assets/components/bootstrap-nav-wizard/bootstrap-nav-wizard.css" rel="stylesheet">

</head>

<body>

    <div ng-view></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="assets/components/angular/angular.js"></script>

    <script src="assets/components/angular-route/angular-route.js"></script>
    
    <script src="module/app.module.js"></script>

    <script src="configuration/routes.configuration.js"></script>

</body>

</html>
